/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
.Navbar{
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    padding: 1rem 4rem;
    border-bottom: 2px solid #000000;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 0rem;
}
.logo{
    display: flex;
}
.logo p{
    padding: 2rem 1.5rem;
    font-weight: 700;
    font-size: 1.3rem;
}
.routes {
display: flex;
margin-left: auto;

}
.routes li{
    list-style: none;
    padding: 2rem 2rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}
.connect{
    margin-left: auto;
    padding: 2rem 2rem;
}
.connect button{
    position: relative;
    margin-left: 2rem;
    top: -0.5rem;
    border: 1px solid #000000;
    background: none;
    padding: 0.5rem 1rem;
    font-weight: 400;
    
}
/*Header*/
.Header{
    display: flex;
    padding: 6rem 6rem;
    font-family: 'Rajdhani', sans-serif;
}
.Header_content h1{
    font-size: 66px;
    padding: 1rem 0rem;
    font-weight: 600;
    line-height: 91px;
}
.Header_content p{
    font-size: 26px;
    padding: 1rem 6rem;
    margin-left: -5.5rem;
    font-weight: 400;
    color: #100000;
    line-height: 44px;
}
.headBtn{
    padding: 2rem 1rem;
}
.headBtn span{
    margin-left: 4rem;
}
.exploreBtn{
    padding: 1rem 1.5rem;
    color: #FFFFFF;
    font-size: 16px;
    background: #A260F3;
    border: 1px solid #A260F3;
    border-radius: 16px 0px 16px 0px;
}
.stats{
padding: 5rem 0rem;
display: flex;
}
.art{
    border-right: 1.10546px solid rgba(0, 0, 0, 0.26);
}

.stats div{
    padding: 0rem 2rem;
    width: 120px;

}
.auc{
    border-right: 1.10546px solid rgba(0, 0, 0, 0.26);
}
.stats h1{
    font-size: 40px;
    line-height: 0;
}
.stats p{
    font-size: 17px;
    line-height: 0;
    padding: 1rem 0;
    margin-left: 0;
}
.extended{
    position: relative;
    top: -8rem;
    background: none;
    left: 10rem;
}
/*ECOSYSTEM*/
.Ecosystem {
    text-align: center;
}
.Ecosystem h1{
    font-size: 66.33px;
    line-height: 91.13px;
    font-family: 'Rajdhani', sans-serif;
}
.Ecosystem span{
    color: #A260F3;
}

.Ecosystem img{
    margin-top: 6rem;
}
/*Top NFT*/
.NFT_Head{
    display: flex;
    padding: 2rem 4rem;
    font-family: 'Rajdhani', sans-serif;
}
.NFT_Head p{
    font-size: 25px;
}
.NFT_content{
    width: 91.5%;
    border: 2px solid;
    border-radius: 4px;
    padding: 2rem 1rem;
    
}
.right_head{
    margin-left: auto;
    display: flex;
}
.right_head p{
    margin-right: 3rem;
}
.right_head img{
    margin-right: 3rem;
}
.heads{
    display: flex;
}
.auc_ends{
    margin-left: auto;
}
.NFTLoop{
    display: flex;
}
.TopNFT{
    padding: 1rem 3rem;
}
.auc_dur{
    margin-top: 0.5rem;
}
.verify{
    position: relative;
    left: 0.5rem;
    top: -0.3rem;
}
.userName span{
    position: relative;
    top: -0.5rem;
}
.userName{
    margin-top: 1.5rem;
}
.heads h4{
    margin-top: 3rem;
}
.eth{
    margin-top: 0.5rem;
}
.bidBtn{
    margin-top: 4rem;
    margin-left: 3rem;
    padding: 0.5rem 1.5rem;
    background: #A260F3;
    color: #FFFFFF;
    border: 0.925076px solid #A260F3;
}